#nav a {
    text-decoration: none;
}

#me .pic > img {
    margin-top: -1px;
    height: 101%;
}

#mymemo * {
    word-wrap:break-word;
}

form input[type="text"] {
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Desktop */
@media screen and (min-width: 737px) {
    body {
        background-image: url("../../assets/css/images/bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #me header > p {
        position: absolute;
        left: 0;
        top: 52.5%;
        font-size: 0.82em;
        letter-spacing: -0.015em;
        margin-top: 0;
    }

    #mymemo {
        background-color: #d9edf7;
        margin-right: 2.8%;
    }

    div .mylogin, .mylogout {
        margin-top: -64px;
    }

    #myabout * {
        margin-right: 2.8%;
    }
}

/* Mobile */
@media screen and (max-width: 736px) {
    body {
        background-image: url("../../assets/css/images/overlay.png"), url("../../assets/css/images/bgmobile.jpg");
        background-repeat: repeat, repeat;
        background-size: auto, 100% 100%;
    }

    #me header > p {
        font-size: 1.0em;
    }

    #me .pic img {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #mymemo {
        background-color: #d9edf7;
        margin-right: 4.5%;
    }

    div .mylogin, .mylogout {
        margin-top: 164px;
    }

    .modal button {
        text-align: right;
    }

    #myabout * {
        margin-right: 4.5%;
    }
}