#nav a {
    text-decoration: none;
}

#me .pic > img {
    margin-top: -1px;
    height: 101%;
}

#memo * {
    word-wrap:break-word;
}

#memo form input[type="text"] {
    background-color: #fff;
    border: 1px solid #ccc;
}

pre {
    background-color: #23241f;
}

#memo .well {
    background-color: ghostwhite;
    border-color: darkblue;
}

#memo hr{
    border-top-color: darkblue;
}

#memo-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*○ボタン*/
#social-icon a {
    margin: 0 5px 5px 0;
    padding: 0;
    color: #fff;
}

#social-icon i {
    margin: 0;
    border-radius: 50%;
    background: lightsteelblue;
    text-align: center;
}

#social-icon i:before {
    padding: 0;
}

#social-icon a:hover i {
    background: lightblue;
}

/* Desktop */
@media screen and (min-width: 737px) {
    body {
        background-image: url("../../assets/css/images/bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #me header > p {
        position: absolute;
        left: 0;
        top: 52.5%;
        font-size: 0.82em;
        letter-spacing: -0.015em;
        margin-top: 0;
    }

    div .mylogin, .mylogout, .my404, .my500 {
        margin-top: -64px;
    }

    #myabout p, pre {
        margin-right: 2.8%;
    }

    #memo-title {
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, Arial, sans-serif;
        font-size: 1.6em;
        color: midnightblue;
    }

    #memo-date {
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-top:1%;
        vertical-align:middle
    }

    #memo-button {
        margin-top:1%;
        vertical-align:middle;
    }

    #memo-body {
        margin-top: -2.5%;
    }

    #memo-body > h1, h2, h3, h4, h5, h6, p {
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, Arial, sans-serif;
    }

    #memo-body h1 {
        font-size: 1.3em;
    }

    #memo-body h2 {
        font-size: 1.2em;
    }

    #memo-body h3 {
        font-size: 1.1em;
    }

    #memo-body h4 {
        font-size: 1.0em;
    }

    #memo-body h5 {
        font-size: 1.0em;
    }

    #memo-body h6 {
        font-size: 1.0em;
    }

    #memo-body p {
        font-size: 0.9em;
    }

    #memo-body pre {
        margin-right: 0%;
    }

    #memo-tag {
        margin-top: -5%;
    }

    /*○ボタン*/

    #social-icon i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    #social-icon i:before {
        line-height: 50px;
    }
}

/* Mobile */
@media screen and (max-width: 736px) {
    body {
        background-image: url("../../assets/css/images/overlay.png"), url("../../assets/css/images/bgmobile.jpg");
        background-repeat: repeat, repeat;
        background-size: auto, 100% 100%;
    }

    #me header > p {
        font-size: 1.0em;
    }

    #me .pic img {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    div .mylogin, .mylogout, .my404, .my500 {
        margin-top: 164px;
    }

    .modal button {
        text-align: right;
    }

    #myabout p, pre {
        margin-right: 4.5%;
    }

    button {
        display: initial;
        width: initial;
        padding: initial;
        text-align: initial;
    }

    #memo-title {
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, Arial, sans-serif;
        font-size: 1.6em;
        color: midnightblue;
    }

    #memo-date {
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-top:1%;
        vertical-align:middle
    }

    #memo-button {
        margin-top:1%;
        vertical-align:middle;
    }

    #memo-body {
        margin-top: -2.5%;
    }

    #memo-body > h1, h2, h3, h4, h5, h6, p {
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, Arial, sans-serif;
    }

    #memo-body h1 {
        font-size: 1.3em;
    }

    #memo-body h2 {
        font-size: 1.2em;
    }

    #memo-body h3 {
        font-size: 1.1em;
    }

    #memo-body h4 {
        font-size: 1.0em;
    }

    #memo-body h5 {
        font-size: 1.0em;
    }

    #memo-body h6 {
        font-size: 1.0em;
    }

    #memo-body p {
        font-size: 0.9em;
    }

    #memo-body pre {
        margin-right: 0%;
    }

    #memo-tag {
        margin-top: -5%;
    }

    /*○ボタン*/

    #social-icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #social-icon i:before {
        line-height: 30px;
    }
}