[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
django = "*"
django-heroku = "*"
django-pure-pagination = "*"
docutils = "*"
gunicorn = "*"
markdown = "*"
pydenticon = "*"
python-social-auth = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test"
localtest = "python manage.py test --debug-mode"
static = "python manage.py collectstatic"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
