[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"
coverage = "*"

[packages]
django = "*"
django-heroku = "*"
docutils = "*"
gunicorn = "*"
markdown = "*"
pydenticon = "*"
python-social-auth = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python manage.py runserver"
test = "coverage run --source='.' --omit='.venv/*' manage.py test"
localtest = "coverage run --source='.' manage.py test --debug-mode"
covreport = "coverage report"
covhtml = "coverage html"
static = "python manage.py collectstatic"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
