defusedxml==0.4.1
Django==1.10.5
django-dotenv==1.4.1
dj-database-url==0.4.2
docutils==0.13.1
gunicorn==19.6.0
markdown2==2.3.2
oauthlib==2.0.1
olefile==0.43
Pillow==4.0.0
psycopg2==2.6.2
pydenticon==0.3
PyJWT==1.4.2
python3-openid==3.0.10
python-social-auth==0.3.3
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
social-auth-app-django==0.1.0
social-auth-core==0.2.1
whitenoise==3.2.3
