{% extends "layout.html" %}

{% block content %}

    <!-- Main -->
    <div id="main" class="my404">

        <article id="404" class="panel">
            <div class="alert alert-danger" role="alert">
                403 Error
            </div>

            <div role="main">
                <h2>Forbidden</h2>
                <p>
                    You are not authorized to access this page.
                    Here's a link to the <a href="{% url 'app:home' %}">Home Page</a>. You know, just in case.
                </p>
            </div>
        </article>

    </div>

{% endblock %}
