{% extends "layout.html" %}

{% block content %}

    <!-- Main -->
    <div id="main" class="my500">

        <article id="500" class="panel">
            <div class="alert alert-danger" role="alert">
                500 Error
            </div>

            <div role="main">
                <h2>Server Error</h2>
                <p>
                    The server encountered an internal error or misconfiguration and was unable to complete your request.
                    Here's a link to the <a href="{% url 'home' %}">Home Page</a>. You know, just in case.
                </p>
            </div>
        </article>

    </div>

{% endblock %}
