<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <title>_mondja_py_( ..)φ</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="/static/bootstrap/css/bootstrap-toggle.min.css" rel="stylesheet" />

        <!-- Font Awesome CSS -->
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <!-- highlight -->
        <link href="/static/highlight/css/monokai_sublime.css" rel="stylesheet" />

        <!-- mondja -->
        <link href="/static/mondja/css/mondja.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Wrapper-->
        <div id="wrapper">
            {% block content %}
            {% endblock %}

            <!-- Footer -->
            <div id="footer">
                <ul class="copyright">
                    <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
                </ul>
            </div>
        </div>

        <!-- Scripts -->
        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/skel.min.js"></script>
        <script src="/static/assets/js/skel-viewport.min.js"></script>
        <script src="/static/assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="/static/assets/js/main.js"></script>
        <script src="/static/jquery/js/jquery-2.2.3.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap-select.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap-toggle.min.js"></script>
        <script src="/static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/static/highlight/js/highlight.pack.js"></script>
        <script src="/static/mondja/js/mondja.js"></script>
    </body>
</html>
