{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>_mondja_py_( ..)φ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'mondja/css/mondja.css' %}" />
</head>

<body>
    <div class="container" id="mylogin">
        <div class="card z-depth-5">
            <div class="card-content">
                <span class="card-title">Log-in to mondja</span>
                <p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes</p>
                <form method="post" action="{% url 'login' %}" role="form">
                    {% csrf_token %}
                    <div class="input-field col s6">
                        <input id="username" name="username" type="text" class="validate" maxlength="254" required>
                        <label for="username">User Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" name="password" type="password" class="validate" maxlength="256" required>
                        <label for="password">Password</label>
                    </div>
                    <button class="btn waves-effect waves-light black" type="submit" name="action">Log-in</button>
                </form>
            </div>
            {% if ENABLED_SOCIAL_AUTH %}
                <div class="card-action">
                    <div class="row">
                        <div class="col s6" style="text-align: center;">
                            <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                        </div>
                        <div class="col s6" style="text-align: center;">
                            <a href="{% url 'social:begin' 'twitter' %}">Twitter</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- <script src="{% static 'mondja/js/mondja.js' %}"></script> -->
</body>

</html>