{% extends "layout.html" %}

{% block content %}

    <!-- Nav -->
    <nav id="nav">
        <a href="#me" class="icon fa-home active"><span>Home</span></a>
        <a href="#memo" class="icon fa-pencil-square-o"><span>Memo</span></a>
        <a href="#about" class="icon fa-smile-o"><span>About</span></a>
        <a href="https://github.com/y-tsutsu/mondja" class="icon fa-github" target="_blank"><span>GitHub</span></a>
        <a href="/logout/" class="icon fa-sign-out"><span>Log-out</span></a>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Me -->
        <article id="me" class="panel">
            <header>
                <h1>_mondja_py_( ..)φ</h1>
                <p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes.</p>
            </header>
            <a href="#memo" class="jumplink pic">
                <span class="arrow icon fa-chevron-right"><span>See my memo</span></span>
                <img src="{{STATIC_URL}}images/me.jpg" alt="" />
            </a>
        </article>

        <!-- Memo -->
        {% include 'memo.html' %}

        <!-- Contact -->
        <article id="about" class="panel">
            <header style="margin-left: 2%;">
                <h2>_mondja_py_( ..)φ</h2>
            </header>
            <div class="row">
                <div class="12u 12u$(mobile)" id="myabout">
                    <p>
                        I thought what I'd do was, I'd pretend I was one of those deaf-mutes or shou'd i?
                    </p>
                    <pre><code># Python 3: Fibonacci series up to n
&gt;&gt;&gt; def fib(n):
&gt;&gt;&gt;     a, b = 0, 1
&gt;&gt;&gt;     while a &lt; n:
&gt;&gt;&gt;         print(a, end=' ')
&gt;&gt;&gt;         a, b = b, a+b
&gt;&gt;&gt;     print()
&gt;&gt;&gt; fib(1000)
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987</code></pre>
                </div>
            </div>
        </article>

    </div>

{% endblock %}
