{% extends "layout.html" %}

{% block content %}

    <!-- Main -->
    <div id="main" class="mylogin">

        <!-- Login -->
        <article id="login" class="panel">
            <header>
                <h2>Log-in to mondja</h2>
                {% if form.errors %}
                    <p id="error">Incorrect username or password.</p>
                {% else %}
                    <p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes</p>
                {% endif %}
            </header>

            <form method="post" action="." role="form">
            {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="12u$">
                            <input id="id_username" maxlength="256" name="username" type="text" class="form-control" placeholder="User ID" aria-describedby="sizing-addon1" autofocus required />
                        </div>
                        <div class="12u$">
                            <input id="id_password" maxlength="256" name="password" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" required />
                        </div>
                        <div class="12u$">
                            <input type="submit" value="Log-in" />
                        </div>
                        <div class="12u$">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <button type="button" onclick="location.href='{% url 'social:begin' 'facebook' %}'" class="btn btn-default mysociallogin" {% if not user.is_anonymous %} disabled {% endif %}><i class="fa fa-facebook fa-lg fa-fw"></i>Facebook</button>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'" class="btn btn-default mysociallogin" {% if not user.is_anonymous %} disabled {% endif %}><i class="fa fa-twitter fa-lg fa-fw"></i>Twitter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </article>

        {% if not user.is_anonymous %}
            <meta http-equiv="refresh" content="0; URL=/logout/">
        {% endif %}

    </div>

{% endblock %}
