{% extends "layout.html" %}

{% block content %}

    <!-- Main -->
    <div id="main" class="mylogin">

        <!-- Login -->
        <article id="login" class="panel">
            <header>
                <h2>Log-in to mondja</h2>
                {% if form.errors %}
                    <p id="error">Incorrect username or password.</p>
                {% else %}
                    <p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes</p>
                {% endif %}
            </header>

            <form method="post" action="." role="form">
            {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="12u$">
                            <input id="id_username" maxlength="256" name="username" type="text" class="form-control" placeholder="User ID" aria-describedby="sizing-addon1" autofocus required />
                        </div>
                        <div class="12u$">
                            <input id="id_password" maxlength="256" name="password" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" required />
                        </div>
                        <div class="12u$">
                            <input type="submit" value="Log-in" />
                        </div>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </article>

    </div>

{% endblock %}
