h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

body {
    font-size: 1.6em;
    background-image: url("../../astral/css/images/overlay.png"), url("../../astral/css/images/bg.jpg");
    background-repeat: repeat, repeat;
    background-size: auto, 100% 100%;
}

pre {
    background-color: #282a36;
    border-color: #282a36;
}

#main * {
    border-radius: initial;
}

#nav a {
    text-decoration: none;
}

#home h1 {
    font-size: 2.5rem;
}

#home.panel.intro header p {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

#home.panel.intro .pic img {
    margin: -1px;
    width: 101%;
    height: 101%;
}

#memo * {
    word-wrap: break-word;
}

#memo form input[type="text"] {
    background-color: #fff;
    border: 1px solid #ccc;
}

#memo hr {
    border-top-color: darkblue;
    margin: 1.2rem 0;
    padding: 0;
}

#memo .well {
    background-color: ghostwhite;
    border-color: darkblue;
    padding: 1.2rem;
}

#memo .modal-title {
    font-size: 1.8rem;
}

#memo .modal-content {
    background-color: whitesmoke;
}

#memo .modal-body p {
    font-size: 1.25rem;
}

#memo #totop {
    position: fixed;
    z-index: 999;
}

#memo #totop>a {
    color: #5C6BC0;
    text-decoration: none;
    display: none;
}

#memo #totop>a:hover {
    color: #7986CB;
}

#memo-top .sort-btn {
    margin: 0;
}

#memo-title {
    font-family: "Noto Sans JP", Arial, sans-serif;
    font-size: 2.2rem;
    color: midnightblue;
    margin-top: initial;
}

#memo-title img {
    width: 3.0rem;
    height: auto;
    vertical-align: middle;
}

#memo-date {
    font-family: Georgia, "Noto Sans JP", Arial, sans-serif;
}

#memo-body h1,
#memo-body h2,
#memo-body h3,
#memo-body h4,
#memo-body h5,
#memo-body h6 {
    margin: 1.0rem 0;
    font-family: "Noto Sans JP", Arial, sans-serif;
}

#memo-body p,
#memo-body li {
    font-family: "Noto Sans JP", Arial, sans-serif;
}

#memo-body h1 {
    font-size: 2.0rem;
}

#memo-body h2 {
    font-size: 1.8rem;
}

#memo-body h3 {
    font-size: 1.6rem;
}

#memo-body h4 {
    font-size: 1.6rem;
}

#memo-body h5 {
    font-size: 1.6rem;
}

#memo-body h6 {
    font-size: 1.6rem;
}

#memo-body p {
    font-size: 1.3rem;
}

#memo-body li {
    font-size: 1.3rem;
}

#memo-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.5rem auto;
}

#memo-body a {
    word-break: break-all;
}

#memo-body blockquote {
    margin: 0;
    padding: 0.5rem;
}

#memo-body p {
    margin: 0;
    padding: 0;
}

#about h1 {
    font-size: 2.0rem;
}

#about p {
    font-size: 1.3rem;
}

textarea.mydialog {
    resize: vertical;
}

.mydialogtag {
    text-align: center;
}

.mylogin header #error {
    color: crimson;
}

.mylogin h1,
.my403 h1,
.my404 h1,
.my500 h1 {
    font-size: 2.0rem;
}

.mylogin p {
    font-size: 1.5rem;
}

.mylogin .mycontrol {
    padding-bottom: 1.5rem;
}

.mylogin .mysociallogin {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.my403 p,
.my404 p,
.my500 p {
    font-size: 1.3rem;
}

.my403 .alert,
.my404 .alert,
.my500 .alert {
    font-size: 2.3rem;
}

/* ○ボタン */

#circle-button {
    text-align: center;
}

#circle-button a {
    padding: 0;
    color: #fff;
}

#circle-button a:hover i {
    background: #c5cae9;
}

#circle-button i {
    margin: 0;
    border-radius: 50%;
    background: #7986cb;
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

#circle-button i:before {
    padding: 0;
    line-height: 3.5rem;
}

/* 非表示のログアウトフォーム */

#hidden-logout-form {
    display: none;
}

#hidden-logout-form button {
    background: none;
    border: none;
    cursor: pointer;
}

/* define bootstrap 5 columns */

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

/* Desktop */

@media screen and (min-width: 737px) {
    html {
        font-size: 100%;
    }

    pre>code {
        font-size: 0.9rem;
    }

    #memo .modal-footer button {
        width: 6.5rem;
    }

    #memo #totop {
        bottom: 0.5rem;
        right: 0.5rem;
    }
}

/* Mobile */

@media screen and (max-width: 736px) {
    html {
        font-size: 60%;
    }

    pre>code {
        font-size: 1.1rem;
    }

    #memo .modal-footer button {
        width: 9.5rem;
    }

    #memo .modal-header button {
        display: initial;
        width: initial;
        padding: initial;
        text-align: initial;
    }

    #memo #memo-button button {
        width: initial;
        padding: initial;
    }

    #memo #totop {
        bottom: 0.5rem;
        right: 0.3rem;
    }

    #memo #totop>a {
        font-size: 3.2rem;
    }
}