{% extends "layout.html" %}

{% block content %}

<!-- Nav -->
<nav id="nav">
    <form id="hidden-logout-form" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
    </form>
    <a href="#home" class="fa-solid fa-house">
        <span>Home</span>
    </a>
    <a href="#memo" class="fa-solid fa-note-sticky">
        <span>Memo</span>
    </a>
    <a href="#about" class="fa-solid fa-face-smile">
        <span>About</span>
    </a>
    <a href="https://github.com/y-tsutsu/mondja" class="fa-brands fa-github" target="_blank">
        <span>GitHub</span>
    </a>
    <a href="#" class="fa-solid fa-right-from-bracket" onclick="submitLogoutForm(event)">
        <span>Log-out</span>
    </a>
</nav>

<!-- Main -->
<div id="main">

    <!-- Home -->
    <article id="home" class="panel intro">
        <header>
            <h1>_mondja_py_( ..)φ</h1>
            <p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes</p>
        </header>
        <a href="#memo" class="jumplink pic">
            <span class="arrow icon solid fa-chevron-right">
                <span>See my memo</span>
            </span>
            <img src="{{ STATIC_URL }}images/profile.png" alt="" />
        </a>
    </article>

    <!-- Memo -->
    {% include 'app/memo.html' %}

    <!-- About -->
    <article id="about" class="panel">
        <header>
            <h1>_mondja_py_( ..)φ</h1>
        </header>
        <div class="myabout">
            <p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes or shou'd I?</p>
            <pre><code class="python"># Python3: Fibonacci series up to n
In [1]: def fib(n):
   ...:     a, b = 0, 1
   ...:     while a < n:
   ...:         print(a, end=' ')
   ...:         a, b = b, a+b
   ...:     print()
   ...: fib(1000)
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987</code></pre>
        </div>
    </article>

</div>

{% endblock %}