{% extends "layout.html" %}
{% block content %}
{% load myfilter %}
{% include 'app/navbar.html' %}
<div class="container">
    {% for item in all_memo.object_list %}
    <div class="card indigo lighten-5 z-depth-3">
        <div class="card-content black-text">
            <span class="card-title memo-title">
                <img src="{{ MEDIA_URL }}identicon/{{ item.user.username }}.png" /> {{ item.title }}
            </span>
            <div class="row">
                <div class="col s8">
                    <i class="far fa-calendar-alt fa-lg fa-fw"></i>{{ item.pub_date }}
                </div>
                {% ifequal user item.user %}
                <div class="col s4" style="text-align: right">
                    <button type="button" class="btn waves-effect waves-light btn-small" data-target="#myModalEdit{{ item.id }}">
                        <i class="material-icons">add</i>
                    </button>
                    <button type="button" class="btn waves-effect waves-light btn-small" data-target="#myModalDelete{{ item.id }}">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                {% endifequal %}
            </div>
            <hr>
            <div>
                {{ item.content | markdown2html | safe }}
            </div>
            <hr>
            <div>
                {% for tag in item.tags.all %}
                <div class="chip {{ tag.get_label_classname }} white-text">
                    {{ tag }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor%}
</div>
{% include 'footer.html' %}
{% endblock %}