{% extends "layout.html" %} {% block content %} {% load myfilter %} {% include 'app/navbar.html' %}
<div class="container">
    {% for item in all_memo.object_list %}
    <div class="card my-memo-card indigo lighten-5 z-depth-3">
        <div class="card-content black-text">
            <span class="card-title my-memo-title">
                <img src="{{ MEDIA_URL }}identicon/{{ item.user.username }}.png" /> {{ item.title }}
            </span>
            <div class="row">
                <div class="col s9 my-memo-date">
                    <i class="far fa-calendar-alt fa-lg fa-fw"></i>{{ item.pub_date }}
                </div>
                {% ifequal user item.user %}
                <div class="col s3" style="text-align: right">
                    <button class="dropdown-trigger btn waves-effect waves-light indigo" href="#" data-target="dropdown-memo">
                        <i class="material-icons">note</i>
                    </button>
                    <ul id='dropdown-memo' class='dropdown-content'>
                        <li>
                            <a href="#!" data-target="#my-memo-modal-edit-{{ item.id }}">
                                <i class="material-icons left">edit</i>EDIT</a>
                        </li>
                        <li>
                            <a href="#!" data-target="#my-memo-modal-delete-{{ item.id }}">
                                <i class="material-icons left">delete</i>DELETE</a>
                        </li>
                    </ul>
                </div>
                {% endifequal %}
            </div>
            <hr>
            <div class="my-memo-body">
                {{ item.content | markdown2html | safe }}
            </div>
            <hr>
            <div>
                {% for tag in item.tags.all %}
                <div class="chip {{ tag.get_color }} white-text">
                    {{ tag }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor%}
</div>
{% include 'footer.html' %} {% endblock %}