<div class="navbar-fixed z-depth-3">
    <nav class="nav-extended grey darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">_mondja_py_( ..)φ</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#">
                        <i class="material-icons">home</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">tag_faces</i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/y-tsutsu/mondja" target="_blank">
                        <i class="material-icons">cloud_queue</i>
                    </a>
                </li>
                <li>
                    <a href="/logout/">
                        <i class="material-icons">exit_to_app</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a href="#">Test 1</a>
                </li>
                <li class="tab">
                    <a href="#">Test 2</a>
                </li>
                <li class="tab">
                    <a href="#">Test 3</a>
                </li>
                <li class="tab">
                    <a href="#">Test 4</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="https://github.com/y-tsutsu/mondja" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="/logout/">Log-Out</a>
        </li>
    </ul>
</div>